---
# IcoMoon free icon font separated from eager-side-nav
---

@font-face {
  font-family: "eager-side-nav-icons";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IcoMoon-free.ttf") format("truetype");
}

[eager-side-nav-icon]:before {
  font-family: "eager-side-nav-icons" !important;
  speak: none !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1 !important;
  margin-right: .5rem;
  -webkit-font-feature-settings: "liga" !important;
  -moz-font-feature-settings: "liga=1" !important;
  -moz-font-feature-settings: "liga" !important;
  -ms-font-feature-settings: "liga" 1 !important;
  -o-font-feature-settings: "liga" !important;
  font-feature-settings: "liga" !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important
}

[eager-side-nav-icon="accessibility"]:before       { content: "\e9b2" }
[eager-side-nav-icon="address-book"]:before        { content: "\e944" }
[eager-side-nav-icon="aid-kit"]:before             { content: "\e998" }
[eager-side-nav-icon="airplane"]:before            { content: "\e9af" }
[eager-side-nav-icon="alarm"]:before               { content: "\e950" }
[eager-side-nav-icon="android"]:before             { content: "\eac1" }
[eager-side-nav-icon="angry"]:before               { content: "\e9ed" }
[eager-side-nav-icon="angry2"]:before              { content: "\e9ee" }
[eager-side-nav-icon="apple"]:before               { content: "\eabf" }
[eager-side-nav-icon="arrow-down"]:before          { content: "\ea36" }
[eager-side-nav-icon="arrow-down2"]:before         { content: "\ea3e" }
[eager-side-nav-icon="arrow-down-left"]:before     { content: "\ea37" }
[eager-side-nav-icon="arrow-down-left2"]:before    { content: "\ea3f" }
[eager-side-nav-icon="arrow-down-right"]:before    { content: "\ea35" }
[eager-side-nav-icon="arrow-down-right2"]:before   { content: "\ea3d" }
[eager-side-nav-icon="arrow-left"]:before          { content: "\ea38" }
[eager-side-nav-icon="arrow-left2"]:before         { content: "\ea40" }
[eager-side-nav-icon="arrow-right"]:before         { content: "\ea34" }
[eager-side-nav-icon="arrow-right2"]:before        { content: "\ea3c" }
[eager-side-nav-icon="arrow-up"]:before            { content: "\ea32" }
[eager-side-nav-icon="arrow-up2"]:before           { content: "\ea3a" }
[eager-side-nav-icon="arrow-up-left"]:before       { content: "\ea31" }
[eager-side-nav-icon="arrow-up-left2"]:before      { content: "\ea39" }
[eager-side-nav-icon="arrow-up-right"]:before      { content: "\ea33" }
[eager-side-nav-icon="arrow-up-right2"]:before     { content: "\ea3b" }
[eager-side-nav-icon="attachment"]:before          { content: "\e9cd" }
[eager-side-nav-icon="backward"]:before            { content: "\ea1a" }
[eager-side-nav-icon="backward2"]:before           { content: "\ea1f" }
[eager-side-nav-icon="baffled"]:before             { content: "\e9f3" }
[eager-side-nav-icon="baffled2"]:before            { content: "\e9f4" }
[eager-side-nav-icon="barcode"]:before             { content: "\e937" }
[eager-side-nav-icon="bell"]:before                { content: "\e951" }
[eager-side-nav-icon="bin"]:before                 { content: "\e9ac" }
[eager-side-nav-icon="bin2"]:before                { content: "\e9ad" }
[eager-side-nav-icon="binoculars"]:before          { content: "\e985" }
[eager-side-nav-icon="blocked"]:before             { content: "\ea0e" }
[eager-side-nav-icon="blog"]:before                { content: "\e909" }
[eager-side-nav-icon="blogger"]:before             { content: "\eab9" }
[eager-side-nav-icon="blogger2"]:before            { content: "\eaba" }
[eager-side-nav-icon="bold"]:before                { content: "\ea62" }
[eager-side-nav-icon="book"]:before                { content: "\e91f" }
[eager-side-nav-icon="bookmark"]:before            { content: "\e9d2" }
[eager-side-nav-icon="bookmarks"]:before           { content: "\e9d3" }
[eager-side-nav-icon="books"]:before               { content: "\e920" }
[eager-side-nav-icon="box-add"]:before             { content: "\e95e" }
[eager-side-nav-icon="box-remove"]:before          { content: "\e95f" }
[eager-side-nav-icon="briefcase"]:before           { content: "\e9ae" }
[eager-side-nav-icon="brightness-contrast"]:before { content: "\e9d6" }
[eager-side-nav-icon="bubble"]:before              { content: "\e96b" }
[eager-side-nav-icon="bubble2"]:before             { content: "\e96e" }
[eager-side-nav-icon="bubbles"]:before             { content: "\e96c" }
[eager-side-nav-icon="bubbles2"]:before            { content: "\e96d" }
[eager-side-nav-icon="bubbles3"]:before            { content: "\e96f" }
[eager-side-nav-icon="bubbles4"]:before            { content: "\e970" }
[eager-side-nav-icon="bug"]:before                 { content: "\e999" }
[eager-side-nav-icon="bullhorn"]:before            { content: "\e91a" }
[eager-side-nav-icon="calculator"]:before          { content: "\e940" }
[eager-side-nav-icon="calendar"]:before            { content: "\e953" }
[eager-side-nav-icon="camera"]:before              { content: "\e90f" }
[eager-side-nav-icon="cancel-circle"]:before       { content: "\ea0d" }
[eager-side-nav-icon="cart"]:before                { content: "\e93a" }
[eager-side-nav-icon="checkbox-checked"]:before    { content: "\ea52" }
[eager-side-nav-icon="checkbox-unchecked"]:before  { content: "\ea53" }
[eager-side-nav-icon="checkmark"]:before           { content: "\ea10" }
[eager-side-nav-icon="checkmark2"]:before          { content: "\ea11" }
[eager-side-nav-icon="chrome"]:before              { content: "\eae5" }
[eager-side-nav-icon="circle-down"]:before         { content: "\ea43" }
[eager-side-nav-icon="circle-left"]:before         { content: "\ea44" }
[eager-side-nav-icon="circle-right"]:before        { content: "\ea42" }
[eager-side-nav-icon="circle-up"]:before           { content: "\ea41" }
[eager-side-nav-icon="clear-formatting"]:before    { content: "\ea6f" }
[eager-side-nav-icon="clipboard"]:before           { content: "\e9b8" }
[eager-side-nav-icon="clock"]:before               { content: "\e94e" }
[eager-side-nav-icon="clock2"]:before              { content: "\e94f" }
[eager-side-nav-icon="cloud"]:before               { content: "\e9c1" }
[eager-side-nav-icon="cloud-check"]:before         { content: "\e9c4" }
[eager-side-nav-icon="cloud-download"]:before      { content: "\e9c2" }
[eager-side-nav-icon="cloud-upload"]:before        { content: "\e9c3" }
[eager-side-nav-icon="clubs"]:before               { content: "\e918" }
[eager-side-nav-icon="codepen"]:before             { content: "\eae4" }
[eager-side-nav-icon="cog"]:before                 { content: "\e994" }
[eager-side-nav-icon="cogs"]:before                { content: "\e995" }
[eager-side-nav-icon="coin-dollar"]:before         { content: "\e93b" }
[eager-side-nav-icon="coin-euro"]:before           { content: "\e93c" }
[eager-side-nav-icon="coin-pound"]:before          { content: "\e93d" }
[eager-side-nav-icon="coin-yen"]:before            { content: "\e93e" }
[eager-side-nav-icon="command"]:before             { content: "\ea4e" }
[eager-side-nav-icon="compass"]:before             { content: "\e949" }
[eager-side-nav-icon="compass2"]:before            { content: "\e94a" }
[eager-side-nav-icon="confused"]:before            { content: "\e9f5" }
[eager-side-nav-icon="confused2"]:before           { content: "\e9f6" }
[eager-side-nav-icon="connection"]:before          { content: "\e91b" }
[eager-side-nav-icon="contrast"]:before            { content: "\e9d5" }
[eager-side-nav-icon="cool"]:before                { content: "\e9eb" }
[eager-side-nav-icon="cool2"]:before               { content: "\e9ec" }
[eager-side-nav-icon="copy"]:before                { content: "\e92c" }
[eager-side-nav-icon="credit-card"]:before         { content: "\e93f" }
[eager-side-nav-icon="crop"]:before                { content: "\ea57" }
[eager-side-nav-icon="cross"]:before               { content: "\ea0f" }
[eager-side-nav-icon="crying"]:before              { content: "\ea01" }
[eager-side-nav-icon="crying2"]:before             { content: "\ea02" }
[eager-side-nav-icon="css3"]:before                { content: "\eae1" }
[eager-side-nav-icon="ctrl"]:before                { content: "\ea50" }
[eager-side-nav-icon="database"]:before            { content: "\e964" }
[eager-side-nav-icon="delicious"]:before           { content: "\eacc" }
[eager-side-nav-icon="deviantart"]:before          { content: "\eaab" }
[eager-side-nav-icon="deviantart2"]:before         { content: "\eaac" }
[eager-side-nav-icon="diamonds"]:before            { content: "\e919" }
[eager-side-nav-icon="dice"]:before                { content: "\e915" }
[eager-side-nav-icon="display"]:before             { content: "\e956" }
[eager-side-nav-icon="download"]:before            { content: "\e960" }
[eager-side-nav-icon="download2"]:before           { content: "\e9c5" }
[eager-side-nav-icon="download3"]:before           { content: "\e9c7" }
[eager-side-nav-icon="drawer"]:before              { content: "\e95c" }
[eager-side-nav-icon="drawer2"]:before             { content: "\e95d" }
[eager-side-nav-icon="dribbble"]:before            { content: "\eaa6" }
[eager-side-nav-icon="dribbble2"]:before           { content: "\eaa7" }
[eager-side-nav-icon="dribbble3"]:before           { content: "\eaa8" }
[eager-side-nav-icon="drive"]:before               { content: "\e963" }
[eager-side-nav-icon="dropbox"]:before             { content: "\eaaf" }
[eager-side-nav-icon="droplet"]:before             { content: "\e90b" }
[eager-side-nav-icon="earth"]:before               { content: "\e9ca" }
[eager-side-nav-icon="eject"]:before               { content: "\ea25" }
[eager-side-nav-icon="ello"]:before                { content: "\ea8f" }
[eager-side-nav-icon="embed"]:before               { content: "\ea7f" }
[eager-side-nav-icon="embed2"]:before              { content: "\ea80" }
[eager-side-nav-icon="enlarge"]:before             { content: "\e989" }
[eager-side-nav-icon="enlarge2"]:before            { content: "\e98b" }
[eager-side-nav-icon="enter"]:before               { content: "\ea13" }
[eager-side-nav-icon="envelop"]:before             { content: "\e945" }
[eager-side-nav-icon="equalizer"]:before           { content: "\e992" }
[eager-side-nav-icon="equalizer2"]:before          { content: "\e993" }
[eager-side-nav-icon="evil"]:before                { content: "\e9ef" }
[eager-side-nav-icon="evil2"]:before               { content: "\e9f0" }
[eager-side-nav-icon="exit"]:before                { content: "\ea14" }
[eager-side-nav-icon="eye"]:before                 { content: "\e9ce" }
[eager-side-nav-icon="eye-blocked"]:before         { content: "\e9d1" }
[eager-side-nav-icon="eye-minus"]:before           { content: "\e9d0" }
[eager-side-nav-icon="eye-plus"]:before            { content: "\e9cf" }
[eager-side-nav-icon="eyedropper"]:before          { content: "\e90a" }
[eager-side-nav-icon="facebook"]:before            { content: "\ea8c" }
[eager-side-nav-icon="facebook2"]:before           { content: "\ea8d" }
[eager-side-nav-icon="facebook3"]:before           { content: "\ea8e" }
[eager-side-nav-icon="feed"]:before                { content: "\e91d" }
[eager-side-nav-icon="feed2"]:before               { content: "\ea94" }
[eager-side-nav-icon="feed3"]:before               { content: "\ea95" }
[eager-side-nav-icon="feed4"]:before               { content: "\ea96" }
[eager-side-nav-icon="file-empty"]:before          { content: "\e924" }
[eager-side-nav-icon="file-excel"]:before          { content: "\eadd" }
[eager-side-nav-icon="file-music"]:before          { content: "\e928" }
[eager-side-nav-icon="file-openoffice"]:before     { content: "\eadb" }
[eager-side-nav-icon="file-pdf"]:before            { content: "\eada" }
[eager-side-nav-icon="file-picture"]:before        { content: "\e927" }
[eager-side-nav-icon="file-play"]:before           { content: "\e929" }
[eager-side-nav-icon="file-text"]:before           { content: "\e922" }
[eager-side-nav-icon="file-text2"]:before          { content: "\e926" }
[eager-side-nav-icon="file-video"]:before          { content: "\e92a" }
[eager-side-nav-icon="file-word"]:before           { content: "\eadc" }
[eager-side-nav-icon="file-zip"]:before            { content: "\e92b" }
[eager-side-nav-icon="files-empty"]:before         { content: "\e925" }
[eager-side-nav-icon="film"]:before                { content: "\e913" }
[eager-side-nav-icon="filter"]:before              { content: "\ea5b" }
[eager-side-nav-icon="finder"]:before              { content: "\eac0" }
[eager-side-nav-icon="fire"]:before                { content: "\e9a9" }
[eager-side-nav-icon="firefox"]:before             { content: "\eae6" }
[eager-side-nav-icon="first"]:before               { content: "\ea21" }
[eager-side-nav-icon="flag"]:before                { content: "\e9cc" }
[eager-side-nav-icon="flattr"]:before              { content: "\ead4" }
[eager-side-nav-icon="flickr"]:before              { content: "\eaa0" }
[eager-side-nav-icon="flickr2"]:before             { content: "\eaa1" }
[eager-side-nav-icon="flickr3"]:before             { content: "\eaa2" }
[eager-side-nav-icon="flickr4"]:before             { content: "\eaa3" }
[eager-side-nav-icon="floppy-disk"]:before         { content: "\e962" }
[eager-side-nav-icon="folder"]:before              { content: "\e92f" }
[eager-side-nav-icon="folder-download"]:before     { content: "\e933" }
[eager-side-nav-icon="folder-minus"]:before        { content: "\e932" }
[eager-side-nav-icon="folder-open"]:before         { content: "\e930" }
[eager-side-nav-icon="folder-plus"]:before         { content: "\e931" }
[eager-side-nav-icon="folder-upload"]:before       { content: "\e934" }
[eager-side-nav-icon="font"]:before                { content: "\ea5c" }
[eager-side-nav-icon="font-size"]:before           { content: "\ea61" }
[eager-side-nav-icon="forrst"]:before              { content: "\eaa9" }
[eager-side-nav-icon="forrst2"]:before             { content: "\eaaa" }
[eager-side-nav-icon="forward"]:before             { content: "\e969" }
[eager-side-nav-icon="forward2"]:before            { content: "\ea1b" }
[eager-side-nav-icon="forward3"]:before            { content: "\ea20" }
[eager-side-nav-icon="foursquare"]:before          { content: "\ead5" }
[eager-side-nav-icon="frustrated"]:before          { content: "\e9ff" }
[eager-side-nav-icon="frustrated2"]:before         { content: "\ea00" }
[eager-side-nav-icon="gift"]:before                { content: "\e99f" }
[eager-side-nav-icon="git"]:before                 { content: "\eae2" }
[eager-side-nav-icon="github"]:before              { content: "\eab1" }
[eager-side-nav-icon="github2"]:before             { content: "\eab2" }
[eager-side-nav-icon="github3"]:before             { content: "\eab3" }
[eager-side-nav-icon="github4"]:before             { content: "\eab4" }
[eager-side-nav-icon="github5"]:before             { content: "\eab5" }
[eager-side-nav-icon="glass"]:before               { content: "\e9a0" }
[eager-side-nav-icon="glass2"]:before              { content: "\e9a1" }
[eager-side-nav-icon="google"]:before              { content: "\ea87" }
[eager-side-nav-icon="google-drive"]:before        { content: "\ea8b" }
[eager-side-nav-icon="google-plus"]:before         { content: "\ea88" }
[eager-side-nav-icon="google-plus2"]:before        { content: "\ea89" }
[eager-side-nav-icon="google-plus3"]:before        { content: "\ea8a" }
[eager-side-nav-icon="grin"]:before                { content: "\e9e9" }
[eager-side-nav-icon="grin2"]:before               { content: "\e9ea" }
[eager-side-nav-icon="hammer"]:before              { content: "\e996" }
[eager-side-nav-icon="hammer2"]:before             { content: "\e9a8" }
[eager-side-nav-icon="happy"]:before               { content: "\e9df" }
[eager-side-nav-icon="happy2"]:before              { content: "\e9e0" }
[eager-side-nav-icon="headphones"]:before          { content: "\e910" }
[eager-side-nav-icon="heart"]:before               { content: "\e9da" }
[eager-side-nav-icon="heart-broken"]:before        { content: "\e9db" }
[eager-side-nav-icon="hipster"]:before             { content: "\e9f9" }
[eager-side-nav-icon="hipster2"]:before            { content: "\e9fa" }
[eager-side-nav-icon="history"]:before             { content: "\e94d" }
[eager-side-nav-icon="home"]:before                { content: "\e900" }
[eager-side-nav-icon="home2"]:before               { content: "\e901" }
[eager-side-nav-icon="home3"]:before               { content: "\e902" }
[eager-side-nav-icon="hour-glass"]:before          { content: "\e979" }
[eager-side-nav-icon="html5"]:before               { content: "\eadf" }
[eager-side-nav-icon="html52"]:before              { content: "\eae0" }
[eager-side-nav-icon="IcoMoon"]:before             { content: "\eaea" }
[eager-side-nav-icon="IE"]:before                  { content: "\eae7" }
[eager-side-nav-icon="image"]:before               { content: "\e90d" }
[eager-side-nav-icon="images"]:before              { content: "\e90e" }
[eager-side-nav-icon="indent-decrease"]:before     { content: "\ea7c" }
[eager-side-nav-icon="indent-increase"]:before     { content: "\ea7b" }
[eager-side-nav-icon="infinite"]:before            { content: "\ea2f" }
[eager-side-nav-icon="info"]:before                { content: "\ea0c" }
[eager-side-nav-icon="insert-template"]:before     { content: "\ea72" }
[eager-side-nav-icon="instagram"]:before           { content: "\ea90" }
[eager-side-nav-icon="italic"]:before              { content: "\ea64" }
[eager-side-nav-icon="joomla"]:before              { content: "\eab8" }
[eager-side-nav-icon="key"]:before                 { content: "\e98d" }
[eager-side-nav-icon="key2"]:before                { content: "\e98e" }
[eager-side-nav-icon="keyboard"]:before            { content: "\e955" }
[eager-side-nav-icon="lab"]:before                 { content: "\e9aa" }
[eager-side-nav-icon="lanyrd"]:before              { content: "\ea9f" }
[eager-side-nav-icon="laptop"]:before              { content: "\e957" }
[eager-side-nav-icon="last"]:before                { content: "\ea22" }
[eager-side-nav-icon="lastfm"]:before              { content: "\eaca" }
[eager-side-nav-icon="lastfm2"]:before             { content: "\eacb" }
[eager-side-nav-icon="leaf"]:before                { content: "\e9a4" }
[eager-side-nav-icon="library"]:before             { content: "\e921" }
[eager-side-nav-icon="libreoffice"]:before         { content: "\eade" }
[eager-side-nav-icon="lifebuoy"]:before            { content: "\e941" }
[eager-side-nav-icon="ligature"]:before            { content: "\ea5d" }
[eager-side-nav-icon="ligature2"]:before           { content: "\ea5e" }
[eager-side-nav-icon="link"]:before                { content: "\e9cb" }
[eager-side-nav-icon="linkedin"]:before            { content: "\eac8" }
[eager-side-nav-icon="linkedin2"]:before           { content: "\eac9" }
[eager-side-nav-icon="list"]:before                { content: "\e9ba" }
[eager-side-nav-icon="list2"]:before               { content: "\e9bb" }
[eager-side-nav-icon="list-numbered"]:before       { content: "\e9b9" }
[eager-side-nav-icon="location"]:before            { content: "\e947" }
[eager-side-nav-icon="location2"]:before           { content: "\e948" }
[eager-side-nav-icon="lock"]:before                { content: "\e98f" }
[eager-side-nav-icon="loop"]:before                { content: "\ea2d" }
[eager-side-nav-icon="loop2"]:before               { content: "\ea2e" }
[eager-side-nav-icon="ltr"]:before                 { content: "\ea74" }
[eager-side-nav-icon="magic-wand"]:before          { content: "\e997" }
[eager-side-nav-icon="magnet"]:before              { content: "\e9ab" }
[eager-side-nav-icon="mail"]:before                { content: "\ea83" }
[eager-side-nav-icon="mail2"]:before               { content: "\ea84" }
[eager-side-nav-icon="mail3"]:before               { content: "\ea85" }
[eager-side-nav-icon="mail4"]:before               { content: "\ea86" }
[eager-side-nav-icon="make-group"]:before          { content: "\ea58" }
[eager-side-nav-icon="man"]:before                 { content: "\e9dc" }
[eager-side-nav-icon="map"]:before                 { content: "\e94b" }
[eager-side-nav-icon="map2"]:before                { content: "\e94c" }
[eager-side-nav-icon="menu"]:before                { content: "\e9bd" }
[eager-side-nav-icon="menu2"]:before               { content: "\e9be" }
[eager-side-nav-icon="menu3"]:before               { content: "\e9bf" }
[eager-side-nav-icon="menu4"]:before               { content: "\e9c0" }
[eager-side-nav-icon="meter"]:before               { content: "\e9a6" }
[eager-side-nav-icon="meter2"]:before              { content: "\e9a7" }
[eager-side-nav-icon="mic"]:before                 { content: "\e91e" }
[eager-side-nav-icon="minus"]:before               { content: "\ea0b" }
[eager-side-nav-icon="mobile"]:before              { content: "\e958" }
[eager-side-nav-icon="mobile2"]:before             { content: "\e959" }
[eager-side-nav-icon="move-down"]:before           { content: "\ea47" }
[eager-side-nav-icon="move-up"]:before             { content: "\ea46" }
[eager-side-nav-icon="mug"]:before                 { content: "\e9a2" }
[eager-side-nav-icon="music"]:before               { content: "\e911" }
[eager-side-nav-icon="neutral"]:before             { content: "\e9f7" }
[eager-side-nav-icon="neutral2"]:before            { content: "\e9f8" }
[eager-side-nav-icon="new-tab"]:before             { content: "\ea7e" }
[eager-side-nav-icon="newspaper"]:before           { content: "\e904" }
[eager-side-nav-icon="next"]:before                { content: "\ea19" }
[eager-side-nav-icon="next2"]:before               { content: "\ea24" }
[eager-side-nav-icon="notification"]:before        { content: "\ea08" }
[eager-side-nav-icon="office"]:before              { content: "\e903" }
[eager-side-nav-icon="omega"]:before               { content: "\ea66" }
[eager-side-nav-icon="onedrive"]:before            { content: "\eab0" }
[eager-side-nav-icon="opera"]:before               { content: "\eae8" }
[eager-side-nav-icon="opt"]:before                 { content: "\ea51" }
[eager-side-nav-icon="pacman"]:before              { content: "\e916" }
[eager-side-nav-icon="pagebreak"]:before           { content: "\ea68" }
[eager-side-nav-icon="pagebreak2"]:before          { content: "\ea6e" }
[eager-side-nav-icon="paint-format"]:before        { content: "\e90c" }
[eager-side-nav-icon="paragraph-center"]:before    { content: "\ea78" }
[eager-side-nav-icon="paragraph-justify"]:before   { content: "\ea7a" }
[eager-side-nav-icon="paragraph-left"]:before      { content: "\ea77" }
[eager-side-nav-icon="paragraph-right"]:before     { content: "\ea79" }
[eager-side-nav-icon="paste"]:before               { content: "\e92d" }
[eager-side-nav-icon="pause"]:before               { content: "\ea16" }
[eager-side-nav-icon="pause2"]:before              { content: "\ea1d" }
[eager-side-nav-icon="paypal"]:before              { content: "\ead6" }
[eager-side-nav-icon="paypal2"]:before             { content: "\ead7" }
[eager-side-nav-icon="paypal3"]:before             { content: "\ead8" }
[eager-side-nav-icon="pen"]:before                 { content: "\e908" }
[eager-side-nav-icon="pencil"]:before              { content: "\e905" }
[eager-side-nav-icon="pencil2"]:before             { content: "\e906" }
[eager-side-nav-icon="phone"]:before               { content: "\e942" }
[eager-side-nav-icon="phone-hang-up"]:before       { content: "\e943" }
[eager-side-nav-icon="picassa"]:before             { content: "\eaa4" }
[eager-side-nav-icon="picassa2"]:before            { content: "\eaa5" }
[eager-side-nav-icon="pie-chart"]:before           { content: "\e99a" }
[eager-side-nav-icon="pilcrow"]:before             { content: "\ea73" }
[eager-side-nav-icon="pinterest"]:before           { content: "\ead0" }
[eager-side-nav-icon="pinterest2"]:before          { content: "\ead1" }
[eager-side-nav-icon="play"]:before                { content: "\e912" }
[eager-side-nav-icon="play2"]:before               { content: "\ea15" }
[eager-side-nav-icon="play3"]:before               { content: "\ea1c" }
[eager-side-nav-icon="plus"]:before                { content: "\ea0a" }
[eager-side-nav-icon="podcast"]:before             { content: "\e91c" }
[eager-side-nav-icon="point-down"]:before          { content: "\ea05" }
[eager-side-nav-icon="point-left"]:before          { content: "\ea06" }
[eager-side-nav-icon="point-right"]:before         { content: "\ea04" }
[eager-side-nav-icon="point-up"]:before            { content: "\ea03" }
[eager-side-nav-icon="power"]:before               { content: "\e9b5" }
[eager-side-nav-icon="power-cord"]:before          { content: "\e9b7" }
[eager-side-nav-icon="previous"]:before            { content: "\ea18" }
[eager-side-nav-icon="previous2"]:before           { content: "\ea23" }
[eager-side-nav-icon="price-tag"]:before           { content: "\e935" }
[eager-side-nav-icon="price-tags"]:before          { content: "\e936" }
[eager-side-nav-icon="printer"]:before             { content: "\e954" }
[eager-side-nav-icon="profile"]:before             { content: "\e923" }
[eager-side-nav-icon="pushpin"]:before             { content: "\e946" }
[eager-side-nav-icon="qrcode"]:before              { content: "\e938" }
[eager-side-nav-icon="question"]:before            { content: "\ea09" }
[eager-side-nav-icon="quill"]:before               { content: "\e907" }
[eager-side-nav-icon="quotes-left"]:before         { content: "\e977" }
[eager-side-nav-icon="quotes-right"]:before        { content: "\e978" }
[eager-side-nav-icon="radio-checked"]:before       { content: "\ea54" }
[eager-side-nav-icon="radio-checked2"]:before      { content: "\ea55" }
[eager-side-nav-icon="radio-unchecked"]:before     { content: "\ea56" }
[eager-side-nav-icon="reddit"]:before              { content: "\eac7" }
[eager-side-nav-icon="redo"]:before                { content: "\e966" }
[eager-side-nav-icon="redo2"]:before               { content: "\e968" }
[eager-side-nav-icon="reply"]:before               { content: "\e96a" }
[eager-side-nav-icon="road"]:before                { content: "\e9b1" }
[eager-side-nav-icon="rocket"]:before              { content: "\e9a5" }
[eager-side-nav-icon="rtl"]:before                 { content: "\ea75" }
[eager-side-nav-icon="sad"]:before                 { content: "\e9e5" }
[eager-side-nav-icon="sad2"]:before                { content: "\e9e6" }
[eager-side-nav-icon="safari"]:before              { content: "\eae9" }
[eager-side-nav-icon="scissors"]:before            { content: "\ea5a" }
[eager-side-nav-icon="search"]:before              { content: "\e986" }
[eager-side-nav-icon="section"]:before             { content: "\ea76" }
[eager-side-nav-icon="share"]:before               { content: "\ea7d" }
[eager-side-nav-icon="share2"]:before              { content: "\ea82" }
[eager-side-nav-icon="shield"]:before              { content: "\e9b4" }
[eager-side-nav-icon="shift"]:before               { content: "\ea4f" }
[eager-side-nav-icon="shocked"]:before             { content: "\e9f1" }
[eager-side-nav-icon="shocked2"]:before            { content: "\e9f2" }
[eager-side-nav-icon="shrink"]:before              { content: "\e98a" }
[eager-side-nav-icon="shrink2"]:before             { content: "\e98c" }
[eager-side-nav-icon="shuffle"]:before             { content: "\ea30" }
[eager-side-nav-icon="sigma"]:before               { content: "\ea67" }
[eager-side-nav-icon="skype"]:before               { content: "\eac6" }
[eager-side-nav-icon="sleepy"]:before              { content: "\e9fd" }
[eager-side-nav-icon="sleepy2"]:before             { content: "\e9fe" }
[eager-side-nav-icon="smile"]:before               { content: "\e9e1" }
[eager-side-nav-icon="smile2"]:before              { content: "\e9e2" }
[eager-side-nav-icon="sort-alpha-asc"]:before      { content: "\ea48" }
[eager-side-nav-icon="sort-alpha-desc"]:before     { content: "\ea49" }
[eager-side-nav-icon="sort-amount-asc"]:before     { content: "\ea4c" }
[eager-side-nav-icon="sort-amount-desc"]:before    { content: "\ea4d" }
[eager-side-nav-icon="sort-numeric-desc"]:before   { content: "\ea4b" }
[eager-side-nav-icon="sort-numeric-asc"]:before    { content: "\ea4a" }
[eager-side-nav-icon="soundcloud"]:before          { content: "\eac4" }
[eager-side-nav-icon="soundcloud2"]:before         { content: "\eac5" }
[eager-side-nav-icon="spades"]:before              { content: "\e917" }
[eager-side-nav-icon="spell-check"]:before         { content: "\ea12" }
[eager-side-nav-icon="sphere"]:before              { content: "\e9c9" }
[eager-side-nav-icon="spinner"]:before             { content: "\e97a" }
[eager-side-nav-icon="spinner10"]:before           { content: "\e983" }
[eager-side-nav-icon="spinner11"]:before           { content: "\e984" }
[eager-side-nav-icon="spinner2"]:before            { content: "\e97b" }
[eager-side-nav-icon="spinner3"]:before            { content: "\e97c" }
[eager-side-nav-icon="spinner4"]:before            { content: "\e97d" }
[eager-side-nav-icon="spinner5"]:before            { content: "\e97e" }
[eager-side-nav-icon="spinner6"]:before            { content: "\e97f" }
[eager-side-nav-icon="spinner7"]:before            { content: "\e980" }
[eager-side-nav-icon="spinner8"]:before            { content: "\e981" }
[eager-side-nav-icon="spinner9"]:before            { content: "\e982" }
[eager-side-nav-icon="spoon-knife"]:before         { content: "\e9a3" }
[eager-side-nav-icon="stack"]:before               { content: "\e92e" }
[eager-side-nav-icon="stackoverflow"]:before       { content: "\eacf" }
[eager-side-nav-icon="star-empty"]:before          { content: "\e9d7" }
[eager-side-nav-icon="star-full"]:before           { content: "\e9d9" }
[eager-side-nav-icon="star-half"]:before           { content: "\e9d8" }
[eager-side-nav-icon="stats-bars"]:before          { content: "\e99c" }
[eager-side-nav-icon="stats-bars2"]:before         { content: "\e99d" }
[eager-side-nav-icon="stats-dots"]:before          { content: "\e99b" }
[eager-side-nav-icon="steam"]:before               { content: "\eaad" }
[eager-side-nav-icon="steam2"]:before              { content: "\eaae" }
[eager-side-nav-icon="stop"]:before                { content: "\ea17" }
[eager-side-nav-icon="stop2"]:before               { content: "\ea1e" }
[eager-side-nav-icon="stopwatch"]:before           { content: "\e952" }
[eager-side-nav-icon="strikethrough"]:before       { content: "\ea65" }
[eager-side-nav-icon="stumbleupon"]:before         { content: "\eacd" }
[eager-side-nav-icon="stumbleupon2"]:before        { content: "\eace" }
[eager-side-nav-icon="subscript"]:before           { content: "\ea6a" }
[eager-side-nav-icon="subscript2"]:before          { content: "\ea6c" }
[eager-side-nav-icon="sun"]:before                 { content: "\e9d4" }
[eager-side-nav-icon="superscript"]:before         { content: "\ea69" }
[eager-side-nav-icon="superscript2"]:before        { content: "\ea6b" }
[eager-side-nav-icon="svg"]:before                 { content: "\eae3" }
[eager-side-nav-icon="switch"]:before              { content: "\e9b6" }
[eager-side-nav-icon="tab"]:before                 { content: "\ea45" }
[eager-side-nav-icon="table"]:before               { content: "\ea70" }
[eager-side-nav-icon="table2"]:before              { content: "\ea71" }
[eager-side-nav-icon="tablet"]:before              { content: "\e95a" }
[eager-side-nav-icon="target"]:before              { content: "\e9b3" }
[eager-side-nav-icon="terminal"]:before            { content: "\ea81" }
[eager-side-nav-icon="text-color"]:before          { content: "\ea6d" }
[eager-side-nav-icon="text-height"]:before         { content: "\ea5f" }
[eager-side-nav-icon="text-width"]:before          { content: "\ea60" }
[eager-side-nav-icon="ticket"]:before              { content: "\e939" }
[eager-side-nav-icon="tongue"]:before              { content: "\e9e3" }
[eager-side-nav-icon="tongue2"]:before             { content: "\e9e4" }
[eager-side-nav-icon="tree"]:before                { content: "\e9bc" }
[eager-side-nav-icon="trophy"]:before              { content: "\e99e" }
[eager-side-nav-icon="truck"]:before               { content: "\e9b0" }
[eager-side-nav-icon="tumblr"]:before              { content: "\eabb" }
[eager-side-nav-icon="tumblr2"]:before             { content: "\eabc" }
[eager-side-nav-icon="tux"]:before                 { content: "\eabe" }
[eager-side-nav-icon="tv"]:before                  { content: "\e95b" }
[eager-side-nav-icon="twitch"]:before              { content: "\ea9b" }
[eager-side-nav-icon="twitter"]:before             { content: "\ea91" }
[eager-side-nav-icon="twitter2"]:before            { content: "\ea92" }
[eager-side-nav-icon="twitter3"]:before            { content: "\ea93" }
[eager-side-nav-icon="underline"]:before           { content: "\ea63" }
[eager-side-nav-icon="undo"]:before                { content: "\e965" }
[eager-side-nav-icon="undo2"]:before               { content: "\e967" }
[eager-side-nav-icon="ungroup"]:before             { content: "\ea59" }
[eager-side-nav-icon="unlocked"]:before            { content: "\e990" }
[eager-side-nav-icon="upload"]:before              { content: "\e961" }
[eager-side-nav-icon="upload2"]:before             { content: "\e9c6" }
[eager-side-nav-icon="upload3"]:before             { content: "\e9c8" }
[eager-side-nav-icon="user"]:before                { content: "\e971" }
[eager-side-nav-icon="user-check"]:before          { content: "\e975" }
[eager-side-nav-icon="user-minus"]:before          { content: "\e974" }
[eager-side-nav-icon="user-plus"]:before           { content: "\e973" }
[eager-side-nav-icon="user-tie"]:before            { content: "\e976" }
[eager-side-nav-icon="users"]:before               { content: "\e972" }
[eager-side-nav-icon="video-camera"]:before        { content: "\e914" }
[eager-side-nav-icon="vimeo"]:before               { content: "\ea9c" }
[eager-side-nav-icon="vimeo2"]:before              { content: "\ea9d" }
[eager-side-nav-icon="vimeo3"]:before              { content: "\ea9e" }
[eager-side-nav-icon="volume-decrease"]:before     { content: "\ea2c" }
[eager-side-nav-icon="volume-high"]:before         { content: "\ea26" }
[eager-side-nav-icon="volume-increase"]:before     { content: "\ea2b" }
[eager-side-nav-icon="volume-low"]:before          { content: "\ea28" }
[eager-side-nav-icon="volume-medium"]:before       { content: "\ea27" }
[eager-side-nav-icon="volume-mute"]:before         { content: "\ea29" }
[eager-side-nav-icon="volume-mute2"]:before        { content: "\ea2a" }
[eager-side-nav-icon="warning"]:before             { content: "\ea07" }
[eager-side-nav-icon="windows"]:before             { content: "\eac2" }
[eager-side-nav-icon="windows8"]:before            { content: "\eac3" }
[eager-side-nav-icon="wink"]:before                { content: "\e9e7" }
[eager-side-nav-icon="wink2"]:before               { content: "\e9e8" }
[eager-side-nav-icon="woman"]:before               { content: "\e9dd" }
[eager-side-nav-icon="man-woman"]:before           { content: "\e9de" }
[eager-side-nav-icon="wondering"]:before           { content: "\e9fb" }
[eager-side-nav-icon="wondering2"]:before          { content: "\e9fc" }
[eager-side-nav-icon="wordpress"]:before           { content: "\eab6" }
[eager-side-nav-icon="wordpress2"]:before          { content: "\eab7" }
[eager-side-nav-icon="wrench"]:before              { content: "\e991" }
[eager-side-nav-icon="xing"]:before                { content: "\ead2" }
[eager-side-nav-icon="xing2"]:before               { content: "\ead3" }
[eager-side-nav-icon="yahoo"]:before               { content: "\eabd" }
[eager-side-nav-icon="yelp"]:before                { content: "\ead9" }
[eager-side-nav-icon="youtube"]:before             { content: "\ea97" }
[eager-side-nav-icon="youtube2"]:before            { content: "\ea98" }
[eager-side-nav-icon="youtube3"]:before            { content: "\ea99" }
[eager-side-nav-icon="youtube4"]:before            { content: "\ea9a" }
[eager-side-nav-icon="zoom-in"]:before             { content: "\e987" }
[eager-side-nav-icon="zoom-out"]:before            { content: "\e988" }
