/*! Custom Styles for nicholaelaw.github.io 
 * Status: Experimental
 * 
 */

/* Shorthand classes for easily invoking tengwar annatar font */
.ta {
  font-family: TengwarAnnatar;
  font-size: 1.5rem;
}

.ta-it {font-style: italic;}
.ta-bd {font-weight: bold;}


/* Embed Tengwar fonts */
@font-face {
    font-family: 'TengwarAnnatar';
    src: url('/public/fonts/tngan.woff') format('woff'),
         url('/public/fonts/tngan.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'TengwarAnnatar';
    src: url('/public/fonts/tngani.woff') format('woff'),
         url('/public/fonts/tngani.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'TengwarAnnatar';
    src: url('/public/fonts/tnganb.woff') format('woff'),
         url('/public/fonts/tnganb.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'TengwarAnnatar';
    src: url('/public/fonts/tnganbi.woff') format('woff'),
         url('/public/fonts/tnganbi.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

/* Meta data line below post title */
.footer-text {
  position: relative;
  display: block;
  font-size: 50%;
  color: #9a9a9a;
}

/* Define footer style */
footer {
  float: left;
  width: 100%;
  clear: both;
}

/* Default button style */
.defaultBtn {
  background-color:#ac4142;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size: 1rem;
  padding:6px 15px;
  border:0;
  margin-bottom: 1rem;
}
.defaultBtn:hover {
  background-color:#ac4142;
}
.defaultBtn:active {
  position:relative;
  top:1px;
}

/* tiny text */
.tiny {
  font-size: 0.1rem;
}

/* collapsible content */
.collapsibleContent {
  height: 0;    
  overflow: hidden;
}

/* Stuff to deal with pesky iframe */
.mapContainer {
    position: relative;
    padding-bottom: 50%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}
.mapContainer iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* photoswipe image gallery 
 * common container class
 * for easy js invoking */
 .imgDisplay {}
 .imgDisplay figure {}
 .imgDisplay img {}
 .imgDisplay figcaption {}

/* Classes for single image display,
 * fixed-width slide and
 * fixed-height slide galleries
 */
.monoh, .monow {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 0.7rem;
}
.monod {
  position: relative;
  margin: 0 auto;
}
.monoh figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  height: 120px;
  width: auto;
}
.monow figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
  height: auto;
}
.monod figure {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.monoh img {
  width: auto;
  height: 100%;
}
.monow img, .monod img {
  width: 100%;
  height: auto;
}
.monoh figcaption, .monow figcaption, .monod figcaption {
  display: none;
}

/* !!!!DEFUNCT!!!
 * Container for placing centered images
.imgContainer {
    position: relative; 
    max-width: 400px; 
    margin: 0 auto; 
}
 */

/* Experimental
 * pretty button 
 */
.prettyButton {
    margin-left: 0; 
    margin-right: 0; 
    max-width: 100%;
}

.prettyButton:hover {
    background-color: #225879;
}