<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- Load CSS -->
  {% if site.data.options.devMode %}
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
    <!-- Load custom CSS if extraCSS is true (site-wide) -->
    {% if site.data.options.extraCSS %}
      <!-- My own CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/public/css/nicholaelaw.css">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="{{ site.baseurl }}/public/css/font-awesome.css"/>
      <!-- Core CSS file -->
      <link rel="stylesheet" href="{{ site.baseurl }}/public/css/photoswipe/photoswipe.css"> 
      <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
           In the folder of skin CSS file there are also:
           - .png and .svg icons sprite, 
           - preloader.gif (for browsers that do not support CSS animations) -->
      <link rel="stylesheet" href="{{ site.baseurl }}/public/css/photoswipe/default-skin.css"> 
    {% endif %}
  {% else %}
    <!-- Load minified CSS if devMode is off -->
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/main-fa-pswp-bundle.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/nicholaelaw.css">
    <!--link rel="stylesheet" href="{{ site.baseurl }}/public/css/font-awesome.min.css"/-->
  {% endif %}

  <!-- Load preloading JavaScript -->
  {% include addonJS-pre.html %}

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/public/favicon/apple-touch-icon-57x57.png?v=3">
  <link rel="apple-touch-icon" sizes="60x60" href="/public/favicon/apple-touch-icon-60x60.png?v=3">
  <link rel="apple-touch-icon" sizes="72x72" href="/public/favicon/apple-touch-icon-72x72.png?v=3">
  <link rel="apple-touch-icon" sizes="76x76" href="/public/favicon/apple-touch-icon-76x76.png?v=3">
  <link rel="apple-touch-icon" sizes="114x114" href="/public/favicon/apple-touch-icon-114x114.png?v=3">
  <link rel="apple-touch-icon" sizes="120x120" href="/public/favicon/apple-touch-icon-120x120.png?v=3">
  <link rel="apple-touch-icon" sizes="144x144" href="/public/favicon/apple-touch-icon-144x144.png?v=3">
  <link rel="apple-touch-icon" sizes="152x152" href="/public/favicon/apple-touch-icon-152x152.png?v=3">
  <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon-180x180.png?v=3">
  <link rel="icon" type="image/png" href="/public/favicon/favicon-32x32.png?v=3" sizes="32x32">
  <link rel="icon" type="image/png" href="/public/favicon/favicon-194x194.png?v=3" sizes="194x194">
  <link rel="icon" type="image/png" href="/public/favicon/favicon-96x96.png?v=3" sizes="96x96">
  <link rel="icon" type="image/png" href="/public/favicon/android-chrome-192x192.png?v=3" sizes="192x192">
  <link rel="icon" type="image/png" href="/public/favicon/favicon-16x16.png?v=3" sizes="16x16">
  <link rel="manifest" href="/public/favicon/manifest.json?v=3">
  <link rel="shortcut icon" href="/public/favicon/favicon.ico?v=3">
  <meta name="apple-mobile-web-app-title" content="三喵暖">
  <meta name="application-name" content="三喵暖">
  <meta name="msapplication-TileColor" content="#ac4142">
  <meta name="msapplication-TileImage" content="/public/favicon/mstile-144x144.png?v=3">
  <meta name="msapplication-config" content="/public/favicon/browserconfig.xml?v=3">
  <meta name="theme-color" content="#ffffff">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

</head>
