/*! Custom Styles for nicholaelaw.github.io */
// Status: integrated, work in progress

// Contents:
// PACE.js with minimal theme (loading progress bar)
// eager-side-nav
// Tengwar Annatar font
// Customizations


// PACE.js theme: minimal
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  &-inactive {display: none;}

  .pace-progress {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
}

kbd {
  padding:0.1rem 0.6rem;
  border:1px solid #ccc;
  font-size:0.8rem;
  background-color:#f7f7f7;
  color:#333;
  -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  margin:0 0.1rem;
  text-shadow:0 1px 0 #fff;
  line-height:1.4;
  white-space:nowrap;
}

// Shorthand classes for easily invoking tengwar annatar font
.ta {
  font-family: TengwarAnnatar;

  &-it {font-style: italic;} // Italic
  &-bd {font-weight: bold;} // Bold
  &-lg {font-size: 1.5rem;} // Large version
  &-hl {color: #00f;} // Highlighted
}

// Embed Tengwar fonts
@font-face {
  font-family: 'TengwarAnnatar';
  src: url('/public/fonts/tngan.woff') format('woff'),
       url('/public/fonts/tngan.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'TengwarAnnatar';
  src: url('/public/fonts/tngani.woff') format('woff'),
       url('/public/fonts/tngani.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'TengwarAnnatar';
  src: url('/public/fonts/tnganb.woff') format('woff'),
       url('/public/fonts/tnganb.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'TengwarAnnatar';
  src: url('/public/fonts/tnganbi.woff') format('woff'),
       url('/public/fonts/tnganbi.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
}

// Meta data line below post title
.footer-text {
  position: relative;
  display: block;
  font-size: 50%;
  color: #9a9a9a;
}

// Define footer style
footer {
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 2rem;
}

// Default button style
.defaultBtn {
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size: 1rem;
  padding:6px 15px;
  border:0;
  margin-bottom: 1rem;

  &:active {
    position:relative;
    top:1px;
  }
}

// tiny text
.tiny {
  font-size: 0.5rem;
}

// collapsible content
.collapsibleContent {
  height: 0;    
  overflow: hidden;
}

// Stuff to deal with pesky iframe
.mapContainer {
  position: relative;
  padding-bottom: 50%;
  padding-top: 0;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// photoswipe image gallery 
// common container class
// for easy js invoking
 .imgDisplay {}
 .imgDisplay figure {}
 .imgDisplay img {}
 .imgDisplay figcaption {}

// Classes for single image display,
// fixed-width slide and
// fixed-height slide galleries
.monoh, .monow {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 0.7rem;
}

.monoh {
  figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    height: 120px;
    width: auto;
  }
  img {
    width: auto;
    height: 100%;
  }
}

.monow {
  figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 150px;
    height: auto;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.monod {
  position: relative;
  margin: 0 auto;

  figure {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.monoh, .monow, .monod {
  figcaption {
    display: none;
  }
}

// Nav Bar implementation aped from
// EagerIO. Adapted to mimic Lanyon
// layout-reverse sidebar-overlay theme.
eager-side-nav {
  box-sizing: border-box !important;
  display: block !important;
  position: fixed !important;
  z-index: 1400 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  font-family: "PT Sans", Helvetica, Arial, sans-serif !important;
  font-size: 0.875rem !important;
  max-width: 100% !important;
  padding: 3.5rem 0rem 1.5rem 0rem !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
  box-shadow: 16px 0 15px 15px rgba(0, 0, 0, 0) !important;
  -webkit-transform: translate3d(100%, 0, 0) !important;
  transform: translate3d(100%, 0, 0) !important;
  -webkit-transition: -webkit-transform .4s ease !important;
  transition: transform .4s ease !important;

  @media (min-width: 30em) {
    font-size: 0.75rem !important;
  }

  @media print {
    display: none;
  }

  &[eager-side-nav-opened="true"] {
    box-shadow: 16px 0 15px 15px rgba(0, 0, 0, .4) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }

  &::-webkit-scrollbar, &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar {
    background: transparent;
  }

  & > * {
    box-sizing: border-box !important;
    display: block !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    width: 100% !important;
    max-width: 20rem !important;
    //font-size: 0.875rem !important;
    margin: 0 2.5rem 0 1rem !important;
  }

  & > a {
    color: #ffffff !important;
    cursor: pointer !important;
    //border-box: 1px solid black !important;
    border-top: 1px solid rgba(255,255,255,.1);
    padding: 0.5rem 2.5rem 0.5rem 1rem !important;
    text-decoration: none !important;
  
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: rgba(255,255,255,.1);
      border-color: transparent;
    }
  }
}

eager-side-nav-cover {
  display: block !important;
  position: fixed !important;
  z-index: 1390 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
  pointer-events: none !important;
  -webkit-transition: opacity .4s ease !important;
  transition: opacity .4s ease !important;
  background: #000000 !important;

  &[eager-side-nav-opened="true"] {
    pointer-events: all !important;
    opacity: .3 !important;
  }
}

eager-side-nav-label {
  color: rgba(255,255,255,.6) !important;
  cursor: default !important;
  //font-size: .8rem !important;
  margin-top: 2rem !important;
  text-transform: uppercase !important;
  letter-spacing: .05rem !important;
  margin-bottom: .8rem !important;

  &:first-child {
    margin-top: 0 !important;
  }
}

eager-side-nav-button {
  cursor: pointer !important;
  position: fixed !important;
  z-index: 1410 !important;
  top: 1rem !important;
  right: 1rem !important;
  width: 25px !important;
  height: 25px !important;

  & > * {
    position: absolute !important;
    pointer-events: none !important;
    display: block !important;
    background: #000 !important;
    height: 3px !important;
    width: 25px !important;
    -webkit-transition: all .4s ease !important;
    transition: all .4s ease !important;

    &:nth-child(1) {
      top: 4px !important;
    }
    &:nth-child(2) {
      top: 11px !important;
    }
    &:nth-child(3) {
      top: 18px !important;
    }
  }

  &[eager-side-nav-opened="true"] > * {
    &:nth-child(1) {
    -webkit-transform: rotateZ(45deg) !important;
    transform: rotateZ(45deg) !important;
    -webkit-transform-origin: 4px 5px !important;
    transform-origin: 4px 5px !important;
    }
    &:nth-child(2) {
      opacity: 0 !important;
    }

    &:nth-child(3) {
      -webkit-transform: rotateZ(-45deg) !important;
      transform: rotateZ(-45deg) !important;
      -webkit-transform-origin: 4px -2px !important;
      transform-origin: 4px -2px !important;
    }
  }

  &[eager-side-nav-opened="true"] eager-side-nav-button-bar {
    background: #ffffff !important;
  }
}

// Experimental
// pretty button 
.prettyButton {
  margin-left: 0; 
  margin-right: 0; 
  max-width: 100%;

  &:hover {
    background-color: #225879;
  }
}

