/* Themes */
// Apply custom color schemes by adding the appropriate class to the `body`.
// Based on colors from Base16: http://chriskempson.github.io/base16/#default.
//
// .theme-base-xx

$themes: (
  base-08: #ac4142, // Red
  base-09: #d28445, // Orange
  base-0a: #f4bf75, // Yellow
  base-0b: #90a959, // Green
  base-0c: #75b5aa, // Cyan
  base-0d: #6a9fb5, // Blue
  base-0e: #aa759f, // Magenta
  base-0f: #8f5536  // Brown
);

@each $theme, $color in $themes {
  .theme-#{$theme} {
    .sidebar,
    .sidebar-toggle:active,
    #sidebar-checkbox:checked ~ .sidebar-toggle,
    eager-side-nav,
    eager-side-nav-button-bar,
    .pace-progress,
    .defaultBtn,
    .defaultBtn:hover {
      background-color: $color !important;
    }
    .container a,
    .sidebar-toggle,
    .related-posts li a:hover,
    code,
    #comment-icon {
      color: $color;
    }
  }
}