<!DOCTYPE html>
<html lang="zh-Hans">

{% include head.html %}

  <body class="theme-base-08">

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="首页 &bcong; Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div itemscope itemtype="http://schema.org/Article" class="container content">
        {{ content }}

        <!-- Load postloading JavaScript -->
        {% include addonJS-post.html %}
        {% include pswpRoot.html %}
        {% include footer.html %}

      </div>
    </div>
  </body>
</html>
